/* --- 独自変更部分 --- */

/*
ゴシック系
  font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

明朝系
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
*/

body {
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; 
  font-size: 12px;
  line-height: 1.5;
  color: black;
}

body h1, h2, h3, h4, h5, h6 {
  font-family: "Hiragino Sans W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-family: "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

body br {
  display: block;
  content: "";
  height: 2px;
  color: black;
}

body h1 {
  padding-bottom: 0.3em;
  margin: 1.5em 0em;
  line-height: 1.1;
  border-bottom: 2px solid #2f51b4;
  position: relative;
  padding-left: 18px;
  font-size: 1.5em;
}

body h1:before {
  background: #2f51b4;
  content: "";
  height: 1.1em;
  width: 8px;
  left: 0;
  position: absolute;
  top: 0px;
}

body h2 {
  padding-bottom: 0.0em;
  margin-bottom: 0.3em;
  line-height: 1.1;
  /* border-bottom: 1px solid #2f51b4; */
  border-bottom: 0;
  border: 0;
  position: relative;
  padding-left: 18px;
  /*margin-left: 16px;*/
  font-size: 1.2em;
}

body h2:before {
  background: #2f51b4;
  content: "";
  height: 1em;
  width: 5px;
  left: 0px;
  position: absolute;
  top: 0px;
}

body h3 {
  padding-bottom: 0.0em;
  margin-bottom: 0.3em;
  border-bottom: 0;
  border: 0;
  position: relative;
  padding-left: 0px;
  text-decoration: underline;
  font-size: 1.0em;
  font-weight: bold;
}

body h4 {
  font-size: 1.0em;
  font-weight: bold;
}

/* for inline code */
body :not(pre):not(.hljs) > code {
  font-family: monospace;
  font-size: inherit;
  color: black;
  background-color: #ffff66;
  margin: 0em;
  padding: 0.2em 0.2em;
}

body pre.hljs {
  margin: 1em;
  padding: 0.3em;
  color: black;
}

body pre.hljs code > div {
  padding: 0.3em;
  margin: 0;
}

body code {
  font-family: Menlo, Monaco, Consolas, "Droid Sans Mono", "Courier New", monospace, "Droid Sans Fallback";
  font-size: 0.9em;
  line-height: 1.5;
  /* margin-left: 1em; */
  /* padding: 0.3em 0.3em; */
  padding: 0em;
}

body pre {
  background-color: #fbfbf0;
  border: 1px solid #cccccc;
  border-radius: 3px;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}


body blockquote {
  font-size: 0.9em;
  line-height: 1.5;
  color: black;
  margin-left: 1em;
  padding: 0.1em 1em;
  border-color: #ffb7b7;
  background-color: #fffafa;
}

body ol li:before {
  color: #F44336;
}

body ol,
body ul {
  padding-left: 2em;
  margin-top: 0;
  margin-bottom: 16px;
}

body ul {
  list-style-type: square;
}

body ul ul,
body ol ul {
  list-style-type: disc;
}

body ol ol ul,
body ol ul ul,
body ul ol ul,
body ul ul ul {
  list-style-type: circle;
}

body ol {
  list-style-type: decimal;
}

body ol ol,
body ul ol {
  list-style-type: lower-roman;
}

body ol ol ol,
body ol ul ol,
body ul ol ol,
body ul ul ol {
  list-style-type: lower-alpha;
}

